<div class="w-full md:w-1/2 mx-auto border-2 border-clever rounded">
  <div class="w-full bg-clever p-4">
    <h2 class="text-xl font-medium text-white">Sign in to CleverSnap</h2>
  </div>
  <div class="p-8">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mb-4">
        <p><%= f.label :email %></p>
        <p>
          <%= f.email_field :email,
            autofocus: true,
            autocomplete: "email",
            class: "w-full p-2 border border-gray-300 rounded" %>
        </p>
      </div>
    
      <div class="field mb-4">
        <p><%= f.label :password %></p>
        <p>
          <%= f.password_field :password,
            autocomplete: "current-password",
            class: "w-full p-2 border border-gray-300 rounded" %>
        </p>
      </div>
      
      <div class="actions">
        <%= f.submit "Log in", class: "button bg-clever-orange text-white py-2 px-4 rounded cursor-pointer" %>
      </div>
    <% end %>
  </div>
</div>
