<%= turbo_frame_tag dom_id(photo, :like) do %>
  <div>
    <% if photo.liked_by?(current_user) %>
      <%= button_to photos_like_path(photo_id: photo.id, format: :turbo_stream), method: :delete, form: { data: { turbo_stream: true } }, class: "text-sm text-slate-500 hover:text-slate-700 flex items-center gap-1" do %>
        <%= image_tag "star-fill.svg", class: "w-4 h-4" %>
        <span><%= photo.like_count %></span>
      <% end %>
    <% else %>
      <%= button_to photos_like_path(photo_id: photo.id, format: :turbo_stream), method: :post, form: { data: { turbo_stream: true } }, class: "text-sm text-slate-500 hover:text-slate-700 flex items-center gap-1" do %>
        <%= image_tag "star-line.svg", class: "w-4 h-4" %>
        <span><%= photo.like_count %></span>
      <% end %>
    <% end %>
  </div>
<% end %>